[Unit]
Description=watchdog daemon
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/sbin/watchdog

[Install]
WantedBy=multi-user.target
